body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

section#principal {
  text-align: center;
  background-color: rgb(235, 226, 153);
  border-radius: 10px; /*arredonda as bordas*/
  padding: 15px; /*Epaçamento interno*/
  width: 250px; /*Largura*/
  margin: auto; /*Centraliza o elemento*/
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.541); /*Sombra*/
}
