body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  text-align: center;
}

section {
  background-color: rgb(118, 118, 118);
  border-radius: 10px; /*arredonda as bordas*/
  padding: 15px; /*Epaçamento interno*/
  width: 500px; /*Largura*/
  margin: auto; /*Centraliza o elemento*/
  box-shadow: 5px 5px 10px black;
}

article#chatBox {
  background-color: #121212; /*Cor de fundo*/
  width: 100%; /*Largura*/
  border-radius: 10px; /*arredonda as bordas*/
  text-align: left; /*Alinha o texto a esquerda*/
  overflow-y: auto; /*Permite rolar a caixa de chat*/
  color: #121212; /*Cor do texto*/
  border: 2px solid white; /*Borda*/
  height: 400px; /*Altura*/
  scroll-behavior: smooth;
}

article#chatBox p {
  color: whitesmoke;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12.5px;
  word-break: break-word;
}

textarea#mensagem {
  width: 100%; /* Ocupa a largura total do container */
  resize: none;
  padding: 8px; /* Espaçamento interno para o texto não colar na borda */
  box-sizing: border-box; /* Garante que o padding não aumente o tamanho total */
  font-size: 12.5px;
}

div#inputBox {
  margin-top: 10px;
  display: flex; /* Ativa o modo flexível */
  align-items: stretch; /* Estica os itens para ocupar a altura total */
  gap: 10px;
}

textarea#mensagem {
  color: whitesmoke;
  background-color: #121212;
}

button#enviar {
  cursor: pointer;
  color: whitesmoke;
  background-color: #121212;
}

footer {
  text-align: center;
}
